# Bike Sharing

- instant: record index
	- dteday : date
	- season : season (1:springer, 2:summer, 3:fall, 4:winter)
	- yr : year (0: 2011, 1:2012)
	- mnth : month ( 1 to 12)
	- holiday : weather day is holiday or not (extracted from http://dchr.dc.gov/page/holiday-schedule)
	- weekday : day of the week
	- workingday : if day is neither weekend nor holiday is 1, otherwise is 0.
	+ weathersit : 
		- 1: Clear, Few clouds, Partly cloudy, Partly cloudy
		- 2: Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist
		- 3: Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds
		- 4: Heavy Rain + Ice Pallets + Thunderstorm + Mist, Snow + Fog
	- temp : Normalized temperature in Celsius. The values are divided to 41 (max)
	- atemp: Normalized feeling temperature in Celsius. The values are divided to 50 (max)
	- hum: Normalized humidity. The values are divided to 100 (max)
	- windspeed: Normalized wind speed. The values are divided to 67 (max)
	- casual: count of casual users
	- registered: count of registered users
	- cnt: count of total rental bikes including both casual and registered

### Data Ingestion

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import matplotlib as ma

In [2]:
print(sns.__version__)

0.11.2

In [3]:
df = pd.read_csv("day.csv")

### Data Validation

In [4]:
#Reading the data
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [5]:
#Geting all the columns
df.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

In [6]:
#Viewing there types
df.dtypes

instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

In [7]:
#insfrence
#There is no catigorical colulmns in our data

In [8]:
#Knowing the shape
df.shape

(731, 16)

In [9]:
#infrence
#Total number of Rows : 731
#Total number of Columns : 16

In [10]:
#Checking for missing values
df.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [11]:
#infrence
#There is no missing values in our dataset

In [12]:
#geting total unique values in all columns
df.nunique()

instant       731
dteday        731
season          4
yr              2
mnth           12
holiday         2
weekday         7
workingday      2
weathersit      3
temp          499
atemp         690
hum           595
windspeed     650
casual        606
registered    679
cnt           696
dtype: int64

In [13]:
#infrence 
#wethersit column have only 3 unique vlaues but in the columns discription 4 were given

In [14]:
#dividing columns into countinous and discreat values
countinous_columns = ["temp","atemp","hum","windspeed"]

### EDA

In [15]:
#for EDA purpous i would be replacing all mnth,weathersit,season into original catigorical values

In [16]:
#Replacing the season column
# season (1:springer, 2:summer, 3:fall, 4:winter)

In [17]:
df["season"].replace([1,2,3,4],["spring","summer","fall","winter"],inplace=True)

In [18]:
#checking the column

In [19]:
df["season"].value_counts()

fall      188
summer    184
spring    181
winter    178
Name: season, dtype: int64

In [20]:
#Replacing the weathersit column
# weathersit :
# 1: Clear, Few clouds, Partly cloudy, Partly cloudy --> good
# 2: Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist --> modrate
# 3: Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds --> bad
# 4: Heavy Rain + Ice Pallets + Thunderstorm + Mist, Snow + Fog -- > seaver

In [21]:
df['weathersit'].replace([1,2,3],['good',"modrate","bad"],inplace = True)

In [22]:
#checking the column

In [23]:
df["weathersit"].value_counts()

good       463
modrate    247
bad         21
Name: weathersit, dtype: int64

In [24]:
#Replacing the mnth columns

In [25]:
df["mnth"].replace({1:"jan",2:"feb",3:"mar",4:"apr"})

0      jan
1      jan
2      jan
3      jan
4      jan
      ...
726     12
727     12
728     12
729     12
730     12
Name: mnth, Length: 731, dtype: object